body{
    height: 100vh;
    display: flex;
    justify-content: center;    
    align-items: center;
    background-color: wheat; 

}


.accordion{

    width: 65%;
    background-color: white; 
    border-radius: 30px;
    padding: 30px;

}

.accordion .accordion-title{
    margin-bottom: 30px;
    text-align: center;

}

.accordion .content-container .question{

    padding: 15px 0px;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid #000;

    position: relative;
}

.accordion .content-container .question::after{

    content: '+';
    position: absolute;
    right: 0px;
}

.accordion .content-container .answer{
    padding-top: 15px;
    line-height: 1.5;
    width: 100%;
    
    height: 0px;
    overflow: hidden;
    transition: .5s;
}


/* Javascript  Styling link*/

.accordion .content-container.active .answer{
   
    height: 180px;
    font-size: 22px;
    transition: 0.5s;

}

.accordion .content-container.active .question{
    font-size: 18px;
    transition: 0.5s;

}

.accordion .content-container.active .question::after{
    content: '-';
    font-size: 30px;
    transition: 0.5s;

}